name: "rclone"

x-lockdown: &lockdown
  # prevents write access to the image itself
  read_only: true
  # prevents any process within the container to gain more privileges
  security_opt:
    - "no-new-privileges=true"

x-readonly: &readonly
  # prevents write access to the image itself
  read_only: true

services:
  minio:
    # for more information about this image checkout:
    # https://github.com/11notes/docker-minio
    image: "11notes/minio:2025.10.15"
    <<: *lockdown
    environment:
      TZ: "Europe/Zurich"
      MINIO_ROOT_PASSWORD: "${MINIO_ROOT_PASSWORD}"
    command: "/mnt"
    volumes:
      - "minio.var:/mnt"
    networks:
      backend:
    restart: "always"

  mc:
    # for more information about this image checkout:
    # https://github.com/11notes/docker-mc
    depends_on:
      minio:
        condition: "service_healthy"
        restart: true
    image: "11notes/mc:2025.08.13"
    <<: *lockdown
    environment:
      TZ: "Europe/Zurich"
      MC_MINIO_URL: "https://minio:9000"
      MC_MINIO_ROOT_PASSWORD: "${MINIO_ROOT_PASSWORD}"
      MC_INSECURE: true
    command:
      - mb --ignore-existing minio/rclone
    volumes:
      - "mc.etc:/mc/etc"
    networks:
      backend:
    restart: "no"

  rclone:
    depends_on:
      mc:
        condition: service_completed_successfully
    image: "11notes/rclone:1.73.0"
    <<: *readonly
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse:/dev/fuse
    command: "mount 11notes:rclone/ /rclone/mnt --allow-other --vfs-cache-mode writes --cache-dir /rclone/cache --no-modtime --allow-non-empty --vfs-read-chunk-streams 16 --vfs-read-chunk-size 4M --no-check-certificate"
    environment:
      TZ: "Europe/Zurich"
      RCLONE_CONFIG: |-
        [11notes]
        type = s3
        provider = Minio
        env_auth = false
        access_key_id = admin
        secret_access_key = ${MINIO_ROOT_PASSWORD}
        region =
        endpoint = https://minio:9000
        location_constraint =
        server_side_encryption =
    volumes:
      - "rclone.etc:/rclone/etc"
      - "${PWD}/mnt:/rclone/mnt:rshared"
      - "rclone.cache:/rclone/cache"
    networks:
      backend:
    restart: "always"

  prometheus:
    # for more information about this image checkout:
    # https://github.com/11notes/docker-prometheus
    depends_on:
      rclone:
        condition: "service_healthy"
        restart: true
    image: "11notes/prometheus:3.8.1"
    <<: *lockdown
    environment:
      TZ: "Europe/Zurich"
      PROMETHEUS_CONFIG: |-
        global:
          scrape_interval: 5s

        scrape_configs:
          - job_name: "rclone"
            static_configs:
              - targets: ["rclone:5572"]
    volumes:
      - "prometheus.etc:/prometheus/etc"
      - "prometheus.var:/prometheus/var"
    ports:
      - "3000:3000/tcp"
    networks:
      frontend:
      backend:
    restart: "always"

volumes:
  mc.etc:
  minio.var:
  rclone.etc:
  rclone.cache:
  prometheus.etc:
  prometheus.var:

networks:
  frontend:
  backend:
    internal: true